.book {
	/* background-color: #fff; */
	box-shadow: 0.2rem 0.2rem 1.2rem 0rem #003d61;
}

.btn {
	background-color: white;
	box-shadow: .05rem .05rem 0.5rem 0.1rem #003d61;
}

.btn:hover,
.btn:focus {
	background-image: linear-gradient(45deg, white 0%, rgba(202, 210, 255, 0.699) 70%);
}
.btn.disabled {
	box-shadow: .05rem .05rem 0.5rem 0.1rem #610000;
}