.book {
	/* background-color: #fff; */
	box-shadow: 0.1rem 0.1rem 1.2rem 0.1rem rgb(0, 0, 0, 1);
}

.btn {
	background-color: rgb(45, 45, 45);
	box-shadow: .05rem .05rem 0.5rem 0.0rem rgb(255, 255, 255, 0.6);
}

.btn:hover,
.btn:focus {
	background-image: linear-gradient(45deg, rgb(45, 45, 45) 30%, rgb(255, 255, 255, 0.0) 99%);
}
.btn.disabled,
.btn.disabled:hover,
.btn.disabled:focus {
	box-shadow: .05rem .05rem 0.5rem 0.0rem rgb(255, 166, 0, 0.45);
}