@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

* {
	box-sizing: border-box;
}

/* Float four columns side by side */
.column {
	float: left;
	width: 50%;
}
  
/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
  
/* Responsive columns */
@media screen and (max-width: 736px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	  margin-top: 10px;
	}
	.row{
		margin-right: 15px;
	}
	.contact-margin{
		margin-top: 30px;
	}
}
  
/* Style the counter cards */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	background-color: #f1f1f1;
}


.book {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: .5rem .5rem 2rem .5rem #003d61;
}

/* Responsive */
@media screen and (max-width: 736px) {
	.book {
	  width: 100%;
	  margin-left: 0px;
	  margin-right: 0px;
	}
	
  }


.book p {
	margin: 0;
	line-height: 26px;
}

.book a {
	color: royalblue;
}

.book-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.btn-disabled,
.btn-disabled:hover {
	border-radius: 50px;
	box-shadow: .3rem .3rem 1rem .0rem #610000;
	font-size: 16px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
	cursor: inherit;
}


.btn {
	border-radius: 50px;
	box-shadow: .5rem .5rem 2rem .1rem #003d61;
	font-size: 16px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
	cursor: pointer;
}

.btn:hover {
	background-image: linear-gradient(45deg, white 0%, rgba(202, 210, 255, 0.699) 70%);
}