* {
	box-sizing: border-box;
}

.quantml-navbar {
	-webkit-transform: translateY(0.5rem);
	transform: translateY(0.5rem);
}

/* Float four columns side by side */
.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 100%;
}
  
/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -5px;
	height: fit-content;
}
  
/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.contact-margin{
	margin-top: 39px;
}

/* Responsive columns */
@media screen and (max-width: 736px) {
	.column {
	  width: 100%;
	  display: block;
	  /* margin-bottom: 20px; */
	  /* margin-top: 10px; */
	}
	.row{
		margin-right: 15px;
	}
	.contact-margin{
		margin-top: 23px;
	}
}

.book {
	border-radius: 10px;
	padding: 30px;
	position: relative;
	width: 100%;
	height: fit-content;
}

/* Responsive */
@media screen and (max-width: 736px) {
	.book {
	  width: 100%;
	  margin-left: 0px;
	  margin-right: 0px;
	}
}


.book p {
	margin: 0;
	line-height: 26px;
}

.btn {
	border: none;
	border-radius: 50px;
	font-size: 16px;
	/* position: absolute; */
	/* bottom: 30px;
	right: 30px; */
	letter-spacing: 1px;
	cursor: pointer;
}

.btn.disabled {
	cursor: inherit;
}
.btn.disabled:hover,
.btn.disabled:focus {
	background-image: none;
	background-color: inherit;
	cursor: inherit;
}

/* Donate */

.donatehover{
	margin-left: 15px;
	cursor: pointer;
	margin-bottom: 20rem;
}
.donatehover:hover,
.donatehover:focus {
	/* box-shadow: .5rem .5rem 2rem .5rem #003d61; */
	color: royalblue;
	-webkit-transform: translateY(-.2rem);
			transform: translateY(-.2rem);
}

.early-access-div{
	width: 100%;
	display: absolute;
	/* background-color: black; */
}

#la-guide-read-now{
	position: absolute;
	right: 30px;
}
h1{
	margin-bottom: 5px;
	font-size: 30;
	line-height: unset;
	font-weight: 600;
	letter-spacing: unset;
}
#coming-soon,
#early-access,
#la-guide-read-now {
	/* font-size: 16px; */
	font-weight: 600;
}

@media screen and (max-width: 736px) {
	#coming-soon,
	#early-access,
	#la-guide-read-now {
		font-size: 16px;
		font-weight: 600;
	}
}