blockquote, q {
    background-color:rgb(255,255,255, 0.1);
}
body {
    background-color: #000;
}
a {
    color:rgba(255, 180, 100, 1);
    border-bottom-color: rgba(255,255,255, 0.7);
}
a:hover {
    border-bottom-color: rgba(255, 180, 100, 1);
    border-style: solid;
    color:rgba(255, 180, 100, 0.8) !important;
}
strong, b {
    color: rgb(255, 255, 255, 0.90);
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(255, 255, 255, 0.95);
}
blockquote {
    border-left-color: #eee;
}
hr {
    border-bottom-color: rgb(255,255,255,0.5);
}
table tbody tr {
    border-color: rgb(255, 255, 255, 0.8);
}
table tbody tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.05);
}
table th {
    color: rgba(255, 180, 100) ;
}
table thead {
    border-bottom-color: #eee;
}
table tfoot {
    border-top-color: #eee;
}
table.alt tbody tr td {
    border-color: #eee;
}
#wrapper > .bg {
    background-color: #000;
    background-image: linear-gradient(to right, rgb(15, 15, 15) 0%, rgb(150, 150, 150) 50%, rgb(15, 15, 15) 100%);
}
@media screen and (orientation: portrait) {
    #wrapper > .bg {
        background-image: linear-gradient(to top, #121212 80%, rgb(255, 255, 255,0.6) 100%);
    }
}
#nav {
    color: rgb(255, 255, 255, 0.87);
    background-image: none;
    background-color: rgb(0, 0, 0, 0.2);
}
#nav a {
    color: rgb(255, 255, 255, 0.87);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
/* #nav a:hover {
    border-bottom-color: transparent;
    color: rgb(0, 39, 155) !important;
} */
#nav ul.links li a:hover {
    /* color: rgb(255, 255, 255, 0.90) !important; */
    background-color: rgba(255, 255, 255, 0.1);
}
#nav ul.links li.active {
    background-color: #121212;
}
#nav ul.links li.active a {
    /* color:rgb(255, 255, 255, 0.87); */
    color: white;
}
#nav ul.links li.active a:hover {
    /* color:rgb(255, 255, 255, 0.87); */
    background-color: inherit;
    border-bottom-color: #121212;
    cursor: default;
}
#main {
    background-color: #121212;
    color: rgb(255, 255, 255, 0.87);
}
#navPanelToggle {
    color: rgb(255, 255, 255, 0.87);
}
#navPanelToggle.alt {
    background-color: rgba(60, 60, 60, 0.5);
    box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
    color: rgb(255, 255, 255, 0.87);
}
#navPanelToggle.alt:hover {
    background-color: rgba(100, 100, 100);
}
#navPanel {
    background: #121212;
    color:rgb(255, 255, 255, 0.87);
}
#navPanel .links li {
    border-top: solid 1px rgb(255, 255, 255, 0.5);
}
#navPanel .links li a {
    color:rgb(255, 255, 255, 0.87);
}
#navPanel ul.links li.active {
    background-color: rgb(255, 255, 255, 0.1);
}

/* CUSTOM SCROLLBAR [START] */

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255, 0.5); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }

/* CUSTOM SCROLLBAR [END] */


/* Table of content [START] */
#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.toc-l1{
    color: rgb(255, 150, 150);
}
.toc-l2{
    color: rgb(211, 123, 255);
}
.toc-l3{
    color: rgba(255, 180, 100);
}

.fa {
    /* color: ; */
}

/* Table of content [END] */

.button {
    color: rgb(255, 255, 255, 0.90);
    background-color: rgb(255, 255, 255, 0.05);
    border: 2.8px #0073b1 solid;
}
.button:hover, .button:focus {
    background-color: rgb(255,255,255, 0.2);
}
summary span {
    color:rgba(255, 180, 100, 1);
}
summary span:hover, summary span:focus {
    /* border-style: solid; */
    color:rgba(255, 180, 100, 1) !important;
    border-bottom: solid 1.5px rgba(255, 180, 100, 1);
}
.bb {
    background-color: rgb(255,255,255, 0.1);
    border: 1px rgb(194, 199, 204) solid;
}
.login-logout-join {
    background-color: #121212;
    color: rgb(255, 255, 255, 0.90);
}
.login-logout-join:hover, .login-logout-join:focus {
    background-color: rgb(18, 18, 18, 0.6);
}
@media screen and (max-width: 980px) {
    .login-logout-join {
        border: 2.5px solid #0073b1; /* CHECK IT */
    }
}
.login-require-txt {
    background-color: rgb(255,255,255, 0.1);
}
/* SLACK DISCUSSION BUTTON WIDE */
.slack-discuss {
    box-shadow: .1rem .1rem 0.5rem .1rem rgb(255, 255, 255, 0.7);
    color: rgb(255, 255, 255, 0.87); 
}
.slack-discuss:hover {
    box-shadow: .2rem .2rem 1.0rem .2rem rgb(255, 255, 255, 0.8);
}
.math-border{
    border: 2px solid blue;
    color: blue;
 }
.math-border.dim{
    border: 1.5px solid black;
}