/* body {font-family: Arial, Helvetica, sans-serif;} */

input {
  color: #ffffff;
  font-size: 16px;
  background-color: inherit;
  /* font-weight: 500; */
}

.error-border {
  border: 2px solid red;
}
.error-border-bounce{
  animation-name: error-border-bounce;
  animation-duration: .5s;
  animation-delay: 0.25s;
}

@keyframes error-border-bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(4px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-4px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(2px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-2px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}


.error-msg{
  padding: 10px;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgb(44, 0, 0);
}

.warn-border {
  border: 2px solid orange;
}

.warn-msg{
  padding: 10px;
  padding-bottom: 23px;
  margin-bottom: 15px;
  border: 2px solid rgba(255, 166, 0);
  border-radius: 5px;
  background-color: rgba(255, 166, 0, 0.1);
}


/* Full-width input fields */
.loginInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-shadow: none;
  border: 2px solid #0073b1;
  background-color: rgb(0, 115, 177, 0.03);
  border-radius: 5px;
  box-sizing: border-box;
}
.loginInput:hover,
.loginInput:focus {
    border: 3px solid #0073b1;
    box-shadow: 1px 1px 10px #0073b1;
}

.forgotPassword{
  cursor: pointer;
  color: #0073b1;
  font-weight: 900;
}
.forgotPassword:hover,
.forgotPassword:focus {
  color: darkblue;
  border-bottom: 1px solid #0073b1;
}


/* Set a style for all buttons */
.form-buttons {
  font-family:"Source Sans Pro",Helvetica,sans-serif;
	font-size:0.95rem;
	font-weight:900;
  font-style: italic;
	line-height:3rem;
	padding:0 2rem;
	text-align:center;
	cursor:pointer;
  width: 100%;
  border-radius: 40px;
}

.login-button {
  background-color: rgb(210, 210, 255);
	border:2px rgb(0, 115, 177) solid;
  color: rgb(0, 0, 150);
  font-size: 18px;
}

.login-button:hover {
  background-color: rgb(230, 230, 255);
  /* -webkit-transform: translateX(.4rem); transform: translateX(.4rem); */
}

.forgot-button {
  background-color: rgb(255, 210, 210);
	border:2px rgb(255, 0, 0) solid;
  margin: 8px 0;
  color: rgb(100, 0, 0);
  font-size: 16px;
}

.forgot-button:hover {
  /* background-color:  rgba(255, 100, 100, 0.2); */
  background-color: rgb(255, 230, 230);
  /* opacity: 0.8; */
  /* -webkit-transform: translateX(.4rem); transform: translateX(.4rem); */
}

.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.1); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #121212;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 15px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px; 
  padding-top: 5px; 
  padding-bottom: 5px; 
  background-color: rgb(225,225,255, 0.025);
  border:1px rgb(194, 199, 204) solid;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #0073b1;
  background-color: rgb(225,225,255, 0.05);
  border:1px rgb(0, 115, 177, 0.8) solid;
  font-weight: bold;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
  }

}