/* body {font-family: Arial, Helvetica, sans-serif;} */

input {
  color: rgb(255, 255, 255, 0.87);
  background-color: inherit;
  /* font-weight: 500; */
}

.error-border {
  border: 2px solid red;
}

.error-msg{
  border-color:rgb(255, 0, 0, 0.7);
  background-color: rgb(255, 0, 0, 0.05);
}

.success-msg{
  border-color: rgba(150, 255, 150, 0.3);
  background-color: rgba(150, 255, 150, 0.02);
  color: rgb(150, 255, 150);
}
.success-msg > b {
  color: rgb(150, 255, 150);
}

.warn-border {
  border: 2px solid orange;
}

.warn-msg{
  border-color:rgba(255, 166, 0);
  background-color: rgba(255, 166, 0, 0.1);
}


/* Full-width input fields */
.loginInput {
  border: 2px solid #0073b1;
  background-color: rgb(0, 115, 177, 0.03);
}
.loginInput:hover,
.loginInput:focus {
    border: 3px solid #0073b1;
    box-shadow: 1px 1px 10px #0073b1;
}

.forgotPassword{
  color: #0073b1;
}
.forgotPassword:hover,
.forgotPassword:focus {
  color: darkblue;
  border-bottom: 1px solid #0073b1;
}


/* Set a style for all buttons */

.login-button {
  background-color: rgb(0, 115, 177, 0.2);
	border:2px rgb(0, 115, 177) solid;
  color: rgb(230, 230, 255);
}

.login-button:hover {
  background-color: rgb(0, 115, 177, 0.4);
  /* -webkit-transform: translateX(.4rem); transform: translateX(.4rem); */
}

.forgot-button {
  background-color: rgb(255, 0, 0, 0.2);
	border:2px rgb(255, 0, 0) solid;
  color: rgb(255, 230, 230);
}

.forgot-button:hover {
  background-color: rgb(255, 0, 0, 0.4);
}


/* The Modal (background) */
.modal {
  background-color: rgba(255,255,255,0.05); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #1C1B1B;
  border: 1px solid #888;
}

.image-content > img {
  background-color: #1C1B1B;
	box-shadow: .05rem .05rem 0.7rem 0.2rem rgb(0,0,0);
}

/* The Close Button (x) */
.close {
  background-color: rgb(225,225,255, 0.025);
  border:1px rgb(194, 199, 204) solid;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #0073b1;
  background-color: rgb(225,225,255, 0.05);
  border:1px rgb(0, 115, 177, 0.8) solid;
}

.container > p {
  color: rgb(255, 255, 255, 0.87);
}

.container > .title {
  border-bottom: 1.5px solid #121212;
}