/* body {font-family: Arial, Helvetica, sans-serif;} */

input {
  color: #121212;
  background-color: inherit;
  /* font-weight: 500; */
}

.error-border {
  border: 2px solid red;
}

.error-msg{
  border: 2px solid red;
  background-color: rgba(255, 0, 0, 0.05);
}

.success-msg{
  border-color: rgba(9, 171, 59, 0.5);
  background-color: rgba(9, 171, 59, 0.2);
  color: rgb(23, 108, 54);
}
.success-msg > b {
  color: rgb(23, 108, 54);
}

.warn-border {
  border: 2px solid orange;
}

.warn-msg{
  border: 2px solid rgba(255, 166, 0);
  background-color: rgba(255, 166, 0, 0.1);
}


/* Full-width input fields */
.loginInput {
  border: 2px solid #0073b1;
  background-color: rgb(0, 115, 177, 0.03);
}
.loginInput:hover,
.loginInput:focus {
    border: 3px solid #0073b1;
    box-shadow: 1px 1px 10px #0073b1;
}

.forgotPassword{
  color: #0073b1;
}
.forgotPassword:hover,
.forgotPassword:focus {
  color: darkblue;
  border-bottom: 1px solid #0073b1;
}


/* Set a style for all buttons */

.login-button {
  background-color: rgb(0, 115, 177, 0.2);
	border:2px rgb(0, 115, 177) solid;
  color: rgb(0, 50, 77);
}

.login-button:hover {
  background-color: rgb(0, 115, 177, 0.1);
  /* -webkit-transform: translateX(.4rem); transform: translateX(.4rem); */
}

.forgot-button {
  background-color: rgb(255, 0, 0, 0.2);
	border:2px rgb(255, 0, 0) solid;
  color: rgb(100, 0, 0);
}

.forgot-button:hover {
  background-color:  rgba(255, 100, 100, 0.2);
}


/* The Modal (background) */
.modal {
  background-color: rgba(0, 115, 177,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
}

.image-content > img {
  background-color: #fefefe;
	box-shadow: .05rem .05rem 0.5rem 0.1rem rgb(50, 50, 50);
}

/* The Close Button (x) */
.close {
  background-color: rgb(246, 248, 250);
  border:1px rgb(194, 199, 204) solid;
  color: #000;
}

.close:hover,
.close:focus {
  color: #0073b1;
  background-color: rgb(240, 240, 240);
  border:1px rgb(0, 115, 177, 0.8) solid;
}

.container > p {
  color: rgb(0, 0, 0, 0.87);
}

.container > .title {
  border-bottom: 1.5px solid #121212;
}