@font-face {
	font-family: "FontAwesome";
	src:	url("/data/css/fontawesome-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-bottom: none;
}
.fa:hover{
	border-bottom: none;
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
	content: "\f00d";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
	content: "\f0c9";
}
.fa-info-circle:before {
	content: "\f05a";
}
.fa-link:before {
	content: "\f0c1";
	font-size: 24px;
}

@media screen and (max-width: 480px) {
	.fa-link:before {
		font-size: 20px;
	}
}

/* a > i.fa{
	border-bottom: none;
} */

blockquote {
	border-radius: 15px;
	quotes: none;
}
blockquote:before, blockquote:after {
	content: "";
	content: none;
}
blockquote.noborder {
	border-left: unset;
}
blockquote.sidebar{
	border-radius: 0px;
	margin: 0%;
	background-color: transparent;
}
a {
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	border-bottom: dotted 1px;
	text-decoration: none;
}
strong, b {
	font-weight: 600;
}
em, i {
	font-style: italic;
}
p {
	text-align: justify;
	margin: 0 0 2rem 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	letter-spacing: 0.03em;
}
h1 {
	font-size: 35px;
	line-height: 1.3;
	margin: 0 0 1.5rem 0;
}
h2 {
	font-size: 30px;
	margin: 0 0 0.5rem 0;
	/* font-weight: 400; */
	line-height: 2rem;
}
h3 {
	font-size: 25px;
	font-weight: 400;
	line-height: 1.5;
}
h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
}
h3.bold {
	font-weight: 600;
}
h5 {
	font-size: 0.8rem;
}
h6 {
	font-size: 0.7rem;
}
sub {
	font-size: 0.8rem;
	position: relative;
	top: 0.5rem;
}
sup {
	font-size: 0.8rem;
	position: relative;
	top: -0.5rem;
}
blockquote {
	border-left: solid 4px;
	margin: 10px 0 10px 0;
	padding: 0.5rem 2rem 0.5rem 2rem;
}
hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 1rem 0;
	width: 75%;
	height: 0.5px;
}
hr.major {
	margin: 2rem 0;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

ol {
	list-style: decimal;
	margin: 0 0 2rem 0;
	padding-left: 1.25rem;
}
ol li {
	padding-left: 0.25rem;
}
ul {
	list-style: disc;
	/* margin: 0 0 2rem 0; */
	padding-left: 1rem;
}
ul li {
	padding-left: 0.5rem;
}
dl {
	margin: 0 0 2rem 0;
}
dl dt {
	display: block;
	font-weight: 600;
	margin: 0 0 1rem 0;
}
.tab-it,
dl dd {
	margin-left: 2rem;
}

.table-wrapper {
	-webkit-overflow-scrolling: touch;
	overflow-x: auto;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 2rem 0;
	width: 100%;
}
table tbody tr {
	border: solid 1px;
	border-left: 0;
	border-right: 0;
}
table td {
	padding: 0.75rem 0.75rem;
}
table th {
	font-size: 0.8rem;
	font-weight: 700;
	letter-spacing: 0.075em;
	line-height: 1.5;
	padding: 0 0.75rem 0.75rem 0.75rem;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
}
@media screen and (max-width: 980px) {
	table th {
		font-size: 1.05rem;
	}
}
table thead {
	border-bottom: solid 2px;
}
table tfoot {
	border-top: solid 2px;
}
table.alt {
	border-collapse: separate;
}
table.alt tbody tr td {
	border: solid 1px;
	border-left-width: 0;
	border-top-width: 0;
}
table.alt tbody tr td:first-child {
	border-left-width: 1px;
}
table.alt tbody tr:first-child td {
	border-top-width: 1px;
}

/* *********************************************************************************************** */
/* *********************************************************************************************** */
/* **************************************	  CUSTOM	  *************************************** */
/* *********************************************************************************************** */
/* *********************************************************************************************** */


/* Table of content [START] */
#toc_container li, #toc_container ul, #toc_container ul li{
	list-style: outside none none !important;
}

.fa {
	padding-left: 5px;
	font-size:22px;
	border-bottom: none;
	/* -webkit-transform: translateY(-0.1rem);
	transform: translateY(-0.1rem); */

}
.fa:hover{
	border-bottom: none;
	cursor: pointer;
}

/* Table of content [END] */

.button {
	/* font-family: "Source Sans Pro", Helvetica, sans-serif; */
	font-size: 0.95rem;
	font-weight: 900;
	line-height: 3rem;
	padding: 0 2rem;
	text-align: center;
	white-space: nowrap;
	border-radius: 30px;
	cursor: pointer;
	width: fit-content;
}
summary {
	outline: none;
}
summary span {
	cursor: pointer;
}
.math-container {
	overflow-x: auto;
	overflow-y: hidden;
	display: block;
}
.bb {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 6px;
	margin-top: 3px;
}
.bb.math{
	padding-top: 10px;
	padding-bottom: 10px;
}

.move-down2rem {
	-webkit-transform: translateY(0.4rem);
	transform: translateY(0.4rem);
}
.shift-right:hover {
	-webkit-transform: translateX(0.2rem);
	transform: translateX(0.2rem);
}
.shift-right-big:hover {
	-webkit-transform: translateX(0.4rem);
	transform: translateX(0.4rem);
}
.jump-big:hover {
	-webkit-transform: translateY(-0.4rem);
	transform: translateY(-0.4rem);
}

.login-require-txt {
	/* border:2px #0073b1 solid; */
	margin: 8px 0;
	font-size: 22px;
	border-radius: 20px;
	text-align: center;
	font-weight: 700;
	margin-bottom: 15px;
	line-height: 4rem;
	/* cursor: pointer; */
}

.login-require > button,
.login-require > a > button {
	width:48%;
	top: 0;
	text-align: center;
	font-size: 18px;
}
.login-require > button > img,
.login-require > a > button > img {
	margin-right: -10px;
	-webkit-transform: translateY(.2rem);
	transform: translateY(.2rem);
	width: 18px;
	height: 18px;
}

@media screen and (max-width: 736px) {
	.login-require > button,
	.login-require > a > button {
		font-size: 16px;
	}
}

.post > img {
	max-width: 100%;
}

.l1.border,
.l2.border,
.l3.border,
.l4.border{
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	max-width: 95%;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.full-size-img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#btn-container a {
	border-bottom: none;
}
#btn-container a #next-btn {
	float: right;
}
#desktop-mode > .bb {
	text-align: center;
	width: 4ch;
}

h1 a  {
	border-bottom: none;
}
h1 a:hover  {
	border-bottom: 2px dotted;
}
br.newline {
  content: "";
  margin: 1.5em;
  display: block;
  font-size: 24%;
  color: rgb(170, 255, 170);
}
.toc-chapter-ul {
	margin: 0 0 1rem 0;
}
textarea {
	padding: 20px;
	width: 100%;
	font-size: 20px;
	border-radius: 5px;
}
#disabled-links:hover{
	cursor: default;
}
.discord-logo{
	-webkit-transform: translateY(0.4rem);
	transform: translateY(0.4rem);
}

.quantml-katex-display.inline{
	display: inline-block;
}

/* ========================  Modals [START]  ===================================== */

	.error-border-bounce{
	animation-name: error-border-bounce;
	animation-duration: .5s;
	animation-delay: 0.25s;
	}

	@keyframes error-border-bounce {
	0% {
		transform: translateX(0px);
		timing-function: ease-in;
	}
	37% {
		transform: translateX(5px);
		timing-function: ease-out;
	}
	55% {
		transform: translateX(-5px);
		timing-function: ease-in;
	}
	73% {
		transform: translateX(4px);
		timing-function: ease-out;
	}
	82% {
		transform: translateX(-4px);
		timing-function: ease-in;
	}
	91% {
		transform: translateX(2px);
		timing-function: ease-out;
	}
	96% {
		transform: translateX(-2px);
		timing-function: ease-in;
	}
	100% {
		transform: translateX(0px);
		timing-function: ease-in;
	}
	}


	.error-msg, .warn-msg, .success-msg{
	padding: 1rem;
	border: 2px solid;
	margin-bottom: 15px;
	border-radius: 5px;
	}
	.error-msg, .warn-msg{
	padding-bottom: 23px;
	}

	.container {
	padding: 16px;
	}

	/* The Modal (background) */
	.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	padding-top: 60px;
	}

	/* Modal Content/Box */
	.modal-content {
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border-radius: 15px;
	width: 50%; /* Could be more or less, depending on screen size */
	}

	.image-content {
	/* top right bottom left*/
	margin: 10% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border-radius: 15px;
	width: 100%; /* Could be more or less, depending on screen size */
	height: 100%;
	}
	.image-content > img {
	border-radius: 10px;
		box-shadow: .05rem .05rem 0.5rem 0.3rem rgb(50, 50, 50);
	}
	@media screen and (max-width: 700px) {
	.image-content {
		margin: 30% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	}
	.image-content > img {
		border-radius: 5px;
	}    
	}


	/* The Close Button (x) */
	.close {
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	border-radius: 6px;
	cursor: pointer;
	}

	.close:hover,
	.close:focus {
	font-weight: bold;
	cursor: pointer;
	}

	/* Add Zoom Animation */
	.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
	}

	@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
	}
	
	@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
	}

	/* Change styles for span and cancel button on extra small screens */
	@media screen and (max-width: 600px) {
	.modal-content {
		width: 80%;
	}
	}
	.container > .title {
	font-size: 18px; 
	}

	.container > p {
	line-height: 25px;
	font-size: 15px;
	}

	@media screen and (max-width: 600px) {
	.container > p {
		line-height: 25px;
		font-size: 14px;
	}
	}

	.container > p > .pad-right {
	margin-left: 20px; display: inline-block;
	}

	.container > p > a {
	cursor: pointer;
	}

/* ========================   Modals [END]   ===================================== */