blockquote, q {
    background-color:#1C1B1B;
}
body {
    background-color: rgb(45, 45, 45);
}
a {
    color:rgba(255, 180, 100, 1);
    border-bottom-color: rgba(255,255,255, 0.7);
}
a:hover {
    border-bottom-color: rgba(255, 180, 100, 1);
    border-style: solid;
    color:rgba(255, 180, 100, 0.8) !important;
}
strong, b {
    color: rgb(231, 232, 235);
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(207, 210, 214);
}
blockquote {
    border-left-color: rgb(207, 210, 214);
}
blockquote.sidebar {
    border-left-color: rgb(207, 210, 214);
}
hr {
    border-bottom-color: rgb(207, 210, 214);
}
table tbody tr {
    border-color: rgb(255, 255, 255, 0.8);
}
table tbody tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.05);
}
table th {
    color: rgba(255, 180, 100) ;
}
table thead {
    border-bottom-color: rgb(207, 210, 214);
}
table tfoot {
    border-top-color: rgb(207, 210, 214);
}
table.alt tbody tr td {
    border-color: rgb(207, 210, 214);
}
#wrapper > .bg {
    background-color: rgb(45, 45, 45);
    background-image: linear-gradient(to right, rgb(25, 25, 25) 0%, rgb(60, 60, 60) 50%, rgb(25, 25, 25) 100%);
}
@media screen and (orientation: portrait) {
    #wrapper > .bg {
        background-image: linear-gradient(to top, rgb(45, 45, 45) 85%, rgb(0,0,0) 100%);
    }
}
#nav {
    color: rgb(231, 232, 235);
    background-image: none;
    background-color: rgb(0, 0, 0, 0.4);
}
#nav a {
    color: rgb(231, 232, 235);
    /* border-bottom-color: rgba(255, 255, 255, 0.5); */
}
/* #nav a:hover {
    border-bottom-color: transparent;
    color: rgb(0, 39, 155) !important;
} */
#nav ul.links li a:hover {
    color: rgb(231, 232, 235) !important;
    background-color: rgba(255, 255, 255, 0.1);
}
#nav ul.links li.active {
    background-color: rgb(45, 45, 45);
}
#nav ul.links li.active a {
    color: rgb(231, 232, 235);
}
#nav ul.links li.active a:hover {
    border-bottom-color: rgb(45, 45, 45);
}
#main {
    background-color: rgb(45, 45, 45);
    color: rgb(231, 232, 235);
}
#navPanelToggle {
    color: rgb(255, 255, 255, 0.87);
}
#navPanelToggle.alt {
    background-color: rgba(26, 25, 25, 0.5);
    box-shadow: 0 0.125rem 0.5rem 0 rgba(255,255,255, 0.25);
    color: rgb(255, 255, 255, 0.87);
}
#navPanel {
    background: rgb(45, 45, 45);
    color:rgb(255, 255, 255, 0.87);
}
#navPanel .links li {
    background-color: rgb(0,0,0, 0.3);
    /* border-top: solid 1px rgb(255, 255, 255, 0.5); */
}
#navPanel .links li a {
    color:rgb(255, 255, 255, 0.87);
}
#navPanel ul.links li.active {
    background-color: rgb(0,0,0,0.7);
}

/* CUSTOM SCROLLBAR [START] */

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255, 0.5); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }

/* CUSTOM SCROLLBAR [END] */


/* Table of content [START] */
#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.toc-l1{
    color: rgb(255, 150, 150);
}
.toc-l2{
    color: rgb(211, 123, 255);
}
.toc-l3{
    color: rgba(255, 180, 100);
}

.fa {
    color: rgba(255, 180, 100);
}
.fa:hover{
    color: rgba(255, 180, 100) !important;
    /* border-bottom: 1.5px solid rgba(255, 180, 100); */
}
.python-logo:hover{
    border-bottom: 1.5px solid rgba(255, 180, 100);
}
.julia-logo:hover{
    border-bottom: 1.5px solid rgba(255, 180, 100);
}

/* Table of content [END] */

.button {
    color: rgb(207, 210, 214);
    background-color: rgb(25, 25, 25);
    border: 2.8px rgb(25, 25, 25) solid;
}
.button:hover, .button:focus {
    /* background-color: rgb(35, 35, 35); */
    border-color: transparent;
    box-shadow: .0rem .0rem 0.3rem 0.05rem rgb(255, 255, 255, 0.7);
}
summary span {
    color:rgba(255, 180, 100, 1);
}
summary span:hover, summary span:focus {
    /* border-style: solid; */
    color:rgba(255, 180, 100, 1) !important;
    border-bottom: solid 1.5px rgba(255, 180, 100, 1);
}
.bb {
    background-color: rgb(0, 0, 0, 0.07);
    border: 1px rgb(194, 199, 204) solid;
}
.login-logout-join {
    background-color: rgb(25,24,24);
    box-shadow: .0rem .0rem 0.4rem 0.05rem rgb(255, 255, 255, 0.7);
    color: rgb(255, 255, 255, 0.90);
}
.login-logout-join:hover, .login-logout-join:focus {
    background-color: rgb(255,255,255,0.05);
}
@media screen and (max-width: 980px) {
    .login-logout-join {
        /* border: 1px solid rgb(0,0,0); */
        background-color: rgb(0,0,0, 0.5);
        border: none;
        box-shadow: unset;
    }
    .login-logout-join:hover{
        background-color: rgb(0, 0, 0, 0.7);
    }
}
.login-require-txt {
    background-color: rgb(25, 25, 25);
}
.l1 {    color: rgb(255, 150, 150);     }
.l2 {    color: rgb(150, 206, 255);     }
.l3 {    color: rgb(150, 255, 150);     }
.l4 {    color: rgb(255, 255, 200);     }
.l1.border{    border: 2px solid rgb(255, 150, 150);    }
.l2.border{    border: 2px solid rgb(150, 206, 255);    }
.l3.border{    border: 2px solid rgb(150, 255, 150);    }
.l4.border{    border: 2px solid rgb(255, 255, 200);    }
.math.border.dim{
    border: 1.5px solid black;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1C1B1B;
}
.btn-loading{
    box-shadow: .0rem .0rem 0.4rem 0.05rem rgb(255, 255, 255, 0.7);
}
.settings > button,
.settings > div > button  {
    border: 2px solid rgb(255, 255, 255, 0.5);
}
textarea {
    background-color: rgb(25, 25, 25);
    color: rgb(231, 232, 235);
    border: 2px rgb(25, 25, 25) solid;
}
.whiteback > .app-img, 
.whiteback > .discord-img{
	background-color: transparent;
}
.details-title{
	border-bottom: 1px dotted rgba(255, 180, 100, 1);
}
.table-highlighted-cell{
    background-color: rgb(255, 255, 255, 0.15);
}